@media only screen and (max-width: 768px) {
    .nav-text {display: none !important;}
}

.nav-item {
    text-transform: uppercase;
    font-family: CPMono;
    font-size: 125%;
}

a.nav-item:hover{
    color: #62c6ef;
    background-color: #777777;
}